.btn {
    display: block ;
    width: 114px;
    height: 39px;
    border-radius: 12px;
    border: 1px solid #000;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 0.875rem;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--color-primary-hover);
}

.link:hover {
    text-decoration: underline;
}