:root {
    --color-primary:#6880FF;
    --color-primary-hover: #7C91FF;
    --color-purple: #7B61FF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}



