@import "./reset.css";
@import "./global.css";
@import "./typography.css";
@import "./button.css";
@import "./grid.css";

#root {
    background-color: var(--color-black);
    padding: 0 10vw;
}

.banner-img {
    width: 27.3125rem;
    height: 16.5625rem;
}

